/*FOOTER*/
.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column-reverse;
  background-color: #bd0606;
  @media (max-width: 768px) {
    align-items: flex-end;
  }
}
.copyright {
  font-size: 12px;
  color: black;
}
.logo-de-abajo {
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  @media (max-width: 768px) {
    width: 130px;
    height: 130px;
  }
}
