/*NAVEGADOR*/
.navegador {
  background-color: #bd0606;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  display: flex;
  padding: 10px;
  position: sticky;
  z-index: 2;
  .icono-menu {
    color: #bd0606;
    font-size: 24px;
    display: none;
    &:hover + .navegador-links {
      display: block;
      transition: 1s;
    }
  }
}
.navegador-img {
  text-align: left;
  width: 100px;
  background-color: $color-primario;
  height: 100px;
}
.links a {
  display: block;
  color: white;
  padding: 20px 5px;
  text-decoration: none;
  font-family: Changa;
}
.navegador-links a {
  list-style: none;
  display: flex;
  gap: 20px;
}
