/*NAVEGADOR-CONTACTOS*/
.contactos-redes{
    font-size: 12px;
    list-style: none;
    text-align: left;
    background-color: $color-primario;
}
.red-ig a{
    font-family: Changa;
    display: block;
    color: white;
    padding: 20px 5px;
    text-decoration: none;
}
.red-face a{
    font-family: Changa;
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.red-num {
    font-family: Changa;
    display: block;
    color: white;
    padding: 20px 5px;
    text-decoration: none;
    font-family: Changa;
}