@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Concert+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NAVEGADOR*/
.navegador {
  background-color: #bd0606;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  display: flex;
  padding: 10px;
  position: sticky;
  z-index: 2;
}
.navegador .icono-menu {
  color: #ffffff;
  font-size: 24px;
  display: none;
}

@media (max-width: 576px) {
  .navegador .icono-menu {
    display: block;
    color: #ffffff;
  }
  .navegador .icono-menu:hover + .navegador-links {
    right: 0;
    display: block;
    transition: 1s;
  }
}
.navegador-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media (max-width: 576px) {
  .navegador-links {
    position: absolute;
    top: 0;
    right: -500;
    width: 300px;
    color: white;
    background-color: #bd0606;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 100px;
    align-items: center;
    transition: 1s;
  }
  .navegador-links:hover {
    right: 0;
  }
}

.contenedor-navegador-img {
  overflow: hidden;
}

.navegador-img {
  text-align: left;
  width: 100px;
  background-color: #bd0606;
  height: 100px;
  transition: 1s;
}
.navegador-img:hover {
  transform: scale(1.2);
  transition: 1s;
}
@media (max-width: 1200px) {
  .navegador-img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1024px) {
  .navegador-img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 992px) {
  .navegador-img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .navegador-img {
    width: 50px;
    height: 50px;
  }
}
.links a {
  display: block;
  color: white;
  padding: 20px 5px;
  text-decoration: none;
  font-family: Changa;
  transition: 1s;
}
.links a:hover {
  font-size: 18px;
  transition: 1s;
}
@media (max-width: 1200px) {
  .links a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .links a {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .links a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .links a {
    font-size: 9px;
  }
}
/*INICIO*/
.titulo-inicio {
  color: black;
  font-size: 60px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}
@media (max-width: 1200px) {
  .titulo-inicio {
    font-size: 56px;
  }
}
@media (max-width: 1024px) {
  .titulo-inicio {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .titulo-inicio {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .titulo-inicio {
    font-size: 38px;
  }
}
.inicio {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .inicio {
    flex-wrap: wrap;
  }
}

.videoInformativo {
  margin: 20px;
  display: flex;
}

.video-videoInformativo {
  width: 500px;
  height: 310px;
}
@media (max-width: 1200px) {
  .video-videoInformativo {
    width: 440px;
    height: 270px;
  }
}
@media (max-width: 1024px) {
  .video-videoInformativo {
    width: 400px;
    height: 240px;
  }
}
@media (max-width: 992px) {
  .video-videoInformativo {
    width: 370px;
    height: 220px;
  }
}
@media (max-width: 768px) {
  .video-videoInformativo {
    width: 320px;
    height: 190px;
  }
}
.videoDescription {
  display: block;
}

.titulo-videoInformativo {
  font-family: Changa;
  padding: 10px;
  margin: 5px;
}
@media (max-width: 1200px) {
  .titulo-videoInformativo {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .titulo-videoInformativo {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .titulo-videoInformativo {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .titulo-videoInformativo {
    font-size: 14px;
  }
}
.description-videoInformatico {
  font-family: Changa;
  padding: 10px;
  margin: 5px;
}
@media (max-width: 1200px) {
  .description-videoInformatico {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .description-videoInformatico {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .description-videoInformatico {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .description-videoInformatico {
    font-size: 12px;
  }
}
.miInformacion {
  width: 240%;
  margin: 20px;
  border: 1px;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.titulo-miInformacion {
  font-family: Changa;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .titulo-miInformacion {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .titulo-miInformacion {
    font-size: 20.5px;
  }
}
@media (max-width: 992px) {
  .titulo-miInformacion {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .titulo-miInformacion {
    font-size: 18px;
  }
}
.mi-Informacion {
  font-size: 13.5px;
  font-family: Changa;
  text-align: center;
}
@media (max-width: 1200px) {
  .mi-Informacion {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .mi-Informacion {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .mi-Informacion {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .mi-Informacion {
    font-size: 9px;
  }
}
.grafico-inicio-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grafico-inicio {
  width: 50%;
}

.graficoInicio {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.recurrencia-ejercicio {
  width: 400px;
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descripcion-graficos {
  font-size: 14px;
  text-align: center;
  font-family: Changa;
}

/*NAVEGADOR-CONTACTOS*/
.aside {
  display: flex;
  justify-content: space-between;
  background-color: #bd0606;
}

.contactos-redes {
  font-size: 12px;
  list-style: none;
  background-color: #bd0606;
}

@media (max-width: 992px) {
  .contactos-redes {
    font-size: 10px;
  }
}

.icono-instagram {
  color: white;
  font-size: 25px;
  transition: 1s;
}

.red-ig {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  gap: 5px;
}

.red-ig a {
  font-family: Changa;
  display: block;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.red-ig a:hover {
  font-size: 14px;
  transition: 1s;
}

.icono-facebook {
  color: white;
  font-size: 25px;
  transition: 1s;
}

.red-face {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  gap: 5px;
}

.red-face a {
  font-family: Changa;
  display: block;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.red-face a:hover {
  font-size: 14px;
  transition: 1s;
}

.icono-numero {
  color: white;
  font-size: 25px;
  transition: 1s;
}

.red-num {
  font-family: Changa;
  display: flex;
  align-items: center;
  color: white;
  padding: 20px 5px;
  gap: 5px;
  text-decoration: none;
  transition: 1s;
}

.red-num:hover {
  font-size: 14px;
  transition: 1s;
}

.ubicacion-footer {
  display: flex;
  flex-direction: column;
  background-color: #bd0606;
  align-items: end;
}

@media (max-width: 576px) {
  .img-direccion {
    align-items: center;
  }
}

.icono-ubicacion {
  color: white;
  font-size: 20px;
  margin: 5px;
}

.direccion {
  display: contents;
  font-family: Changa;
  color: white;
  font-size: 10px;
  margin: 10px;
}

@media (max-width: 992px) {
  .direccion {
    font-size: 8px;
  }
}

@media (max-width: 992px) {
  .direccion {
    margin: 0px;
  }
}

.img-direccion {
  width: 20%;
  height: 60%;
  object-fit: cover;
  margin: 20px;
  border: 5px;
  border-radius: 100px;
  transition: 1s;
}

.img-direccion:hover {
  transform: scale(1.2);
  transition: 1s;
}

@media (max-width: 768px) {
  .img-direccion {
    height: 50%;
  }
}

@media (max-width: 576px) {
  .img-direccion {
    height: 40%;
    margin: 20px 20px 5px 20px;
  }
}

@media (max-width: 480px) {
  .img-direccion {
    height: 40%;
  }
}

@media (max-width: 350px) {
  .img-direccion {
    width: 40%;
  }
}
/*FOOTER*/
.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column-reverse;
  background-color: #bd0606;
}

.copyright {
  font-size: 12px;
  color: black;
  margin: 0px 10px 20px;
}

@media (max-width: 992px) {
  .copyright {
    font-size: 10px;
  }
}

.logo-de-abajo {
  display: flex;
  position: absolute;
  margin: 20px;
  width: 150px;
  height: 150px;
  transition: 1s;
}

.logo-de-abajo:hover {
  transform: scale(1.1);
  transition: 1s;
}
@media (max-width: 992px) {
  .logo-de-abajo {
    width: 130px;
    height: 130px;
    margin: 5px;
  }
}
@media (max-width: 768px) {
  .logo-de-abajo {
    width: 80px;
    height: 80px;
    margin: 5px;
  }
}

/*RUTINAS*/
.titulo-rutinas {
  color: black;
  margin: 20px;
  font-size: 60px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 992px) {
  .titulo-rutinas {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .titulo-rutinas {
    font-size: 38px;
  }
}

.tipos-rutinas {
  background-color: rgb(117, 116, 115);
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.rutinas {
  width: 600px;
  border: 2px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  padding: 10px;
  background-color: rgb(180, 0, 0);
  position: relative;
}

.dias {
  font-family: Changa;
  text-align: center;
  font-size: 30px;
}
@media (max-width: 768px) {
  .dias {
    font-size: 20px;
  }
}

.img-rutinas {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.descripcion-rutinas {
  font-family: Changa;
  text-align: center;
}
@media (max-width: 768px) {
  .descripcion-rutinas {
    font-size: 15px;
  }
}

.boton-rutinas {
  width: 130px;
  height: 45px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  font-family: Changa;
  position: absolute;
  bottom: -30px;
  transition: 1s;
}
.boton-rutinas:hover {
  background-color: rgba(0, 0, 0, 0.836);
  width: 140px;
  transition: 1s;
}

/*MAS INFORMACION*/
.titulo-mas-informacion {
  color: black;
  margin: 20px;
  font-size: 60px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 1200px) {
  .titulo-mas-informacion {
    font-size: 56px;
  }
}
@media (max-width: 1024px) {
  .titulo-mas-informacion {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .titulo-mas-informacion {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .titulo-mas-informacion {
    font-size: 38px;
  }
}
.masInformacion {
  display: flex;
  margin: 10px;
  gap: 20px;
}
@media (max-width: 768px) {
  .masInformacion {
    flex-wrap: wrap;
  }
}

.img-mas-informacion {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img-mas-informacion {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 1024px) {
  .img-mas-informacion {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 992px) {
  .img-mas-informacion {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .img-mas-informacion {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
  }
}
.informacion-fit {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 20px;
  font-family: Changa;
}
@media (max-width: 1200px) {
  .informacion-fit {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .informacion-fit {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .informacion-fit {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .informacion-fit {
    font-size: 10px;
  }
}

.metodos-cambio {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .metodos-cambio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.videoCambio {
  -o-object-fit: cover;
  object-fit: cover;
}

.video-cambio {
  width: 750px;
  height: 430px;
}
@media (max-width: 1200px) {
  .video-cambio {
    width: 520px;
    height: 280px;
  }
}
@media (max-width: 1024px) {
  .video-cambio {
    width: 460px;
    height: 240px;
  }
}
@media (max-width: 992px) {
  .video-cambio {
    width: 420px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .video-cambio {
    width: 360px;
  }
}
.img-flecha {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img-flecha {
    width: 250px;
    height: 180px;
  }
}
@media (max-width: 1024px) {
  .img-flecha {
    width: 200px;
    height: 160px;
  }
}
@media (max-width: 992px) {
  .img-flecha {
    width: 150px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .img-flecha {
    width: 100%;
    height: 150px;
    transform: rotate(90deg);
  }
}
.metodos {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.titulo-metodos {
  font-size: 18px;
  font-family: Changa;
}
@media (max-width: 1200px) {
  .titulo-metodos {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .titulo-metodos {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .titulo-metodos {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .titulo-metodos {
    font-size: 12px;
  }
}
.descripcion-metodos {
  font-size: 12px;
  font-family: Changa;
}
@media (max-width: 1200px) {
  .descripcion-metodos {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .descripcion-metodos {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .descripcion-metodos {
    font-size: 9.5px;
  }
}
@media (max-width: 768px) {
  .descripcion-metodos {
    font-size: 9px;
  }
}
.tipos-metodos {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.metodos-entrenamiento {
  background-color: rgb(180, 22, 22);
  width: 400px;
  margin: 20px;
  padding: 10px;
}

.titulo-entrenamientos {
  font-family: Changa;
  color: white;
}
@media (max-width: 1200px) {
  .titulo-entrenamientos {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .titulo-entrenamientos {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .titulo-entrenamientos {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .titulo-entrenamientos {
    font-size: 12px;
  }
}
.descripcion-entrenamientos {
  font-family: Changa;
  color: white;
}
@media (max-width: 1200px) {
  .descripcion-entrenamientos {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .descripcion-entrenamientos {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .descripcion-entrenamientos {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .descripcion-entrenamientos {
    font-size: 11px;
  }
}
/*TIPOS DE ALIMENTACION*/
.titulo-tipos-alimentos {
  color: black;
  margin: 20px;
  font-size: 60px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 1200px) {
  .titulo-tipos-alimentos {
    font-size: 56px;
  }
}
@media (max-width: 1024px) {
  .titulo-tipos-alimentos {
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .titulo-tipos-alimentos {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .titulo-tipos-alimentos {
    font-size: 38px;
  }
}
.circuloComidas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-circuloComidas {
  width: 50%;
}

.contenedor-informacion-comidas {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.contenedor-info {
  background-color: rgb(121, 0, 0);
  width: 600px;
  margin: 20px;
  border: solid black 1px;
  padding: 25px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-alimentos {
  font-family: Changa;
  color: white;
}

.descripcion-alimentos {
  font-family: Changa;
}

.lista-alimentos {
  font-family: Changa;
  font-weight: bold;
}

@media (max-width: 576px) {
  /*INICIO*/
  .titulo-inicio {
    font-size: 38px;
  }
  .inicio {
    flex-wrap: wrap;
  }
  .video-videInformativo {
    width: 320px;
    height: 190px;
  }
  .titulo-videoInformativo {
    font-size: 20px;
  }
  .description-videoInformatico {
    font-size: 15px;
  }
  .titulo-miInformacion {
    font-size: 20px;
  }
  .mi-Informacion {
    font-size: 14px;
  }
  /*NAVEGADOR*/
  .icono-menu {
    display: block;
  }
  .links a {
    font-size: 12px;
  }
  /*MAS INFORMACION*/
  .titulo-mas-informacion {
    font-size: 32px;
  }
  .informacion-fit {
    font-size: 8px;
  }
  .video-cambio {
    width: 350px;
    height: 200px;
  }
  .titulo-metodos {
    font-size: 10px;
  }
  .descripcion-metodos {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  .icono-menu {
    color: white;
  }
  .icono-menu:hover + .navegador-links {
    display: block;
    transition: 1s;
  }
  .navegador-links {
    position: absolute;
    top: 0;
    right: -500;
    width: 300px;
    color: white;
    background-color: #bd0606;
    height: 100vh;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    display: none;
    transition: 1s;
  }
  .navegador-links:hover {
    display: block;
    transition: 1s;
  }
  .links a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .img-mas-informacion {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
  }
  .informacion-fit {
    font-size: 11px;
  }
  .titulo-metodos {
    font-size: 13px;
  }
  .descripcion-metodos {
    font-size: 10px;
  }
} /*# sourceMappingURL=style.css.map */
